progress-bar {
 
    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        // padding: 3px;
        // text-align: center;
        // background-color: #f4f4f4;
        // border: 1px solid #dcdcdc;
        // color: #fff;
        // border-radius: 4px;
    }
 
    .progress-inner {
        min-width: 1%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 5px;
        text-indent: -999px;
        
        &.bad{
            background-color: map-get($colors, theme-red);
        }
        &.regular{
            background-color: map-get($colors, theme-yellow);
        }
        &.good{
            background-color: map-get($colors, theme-green);
        }
        &.verygood{
            background-color: map-get($colors, theme-blue);
        }
    }
 
}